![](image.jpg)

Humans not only take debts to manage necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. The World Bank is the organization that provides debt to countries.

In this project, you are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. You are going to find the answers to the following questions:

- What is the number of distinct countries present in the database?
- What country has the highest amount of debt?
- What country has the lowest amount of repayments?

Below is a description of the table you will be working with:

## `international_debt` table

| Column | Definition | Data Type |
|-|-|-|
|country_name|Name of the country|`varchar`|
|country_code|Code representing the country|`varchar`|
|indicator_name|Description of the debt indicator|`varchar`|
|indicator_code|Code representing the debt indicator|`varchar`|
|debt|Value of the debt indicator for the given country (in current US dollars)|`float`|

You will execute SQL queries to answer three questions, as listed in the instructions.

In [27]:
-- num_distinct_countries 
-- Write your query here... 

SELECT *
FROM
	international_debt
LIMIT
	3

  country_name country_code  ...  indicator_code        debt
0  Afghanistan          AFG  ...  DT.DIS.DLXF.CD  72894453.7
1  Afghanistan          AFG  ...  DT.INT.DLXF.CD  53239440.1
2  Afghanistan          AFG  ...  DT.AMT.BLAT.CD  61739336.9

[3 rows x 5 columns]

In [28]:
select distinct indicator_code from international_debt

    indicator_code
0   DT.DIS.MLAT.CD
1   DT.DIS.PROP.CD
2   DT.AMT.PCBK.CD
3   DT.INT.PCBK.CD
4   DT.DIS.PCBK.CD
5   DT.INT.DLXF.CD
6   DT.AMT.PBND.CD
7   DT.AMT.OFFT.CD
8   DT.INT.BLAT.CD
9   DT.AMT.BLAT.CD
10  DT.DIS.DLXF.CD
11  DT.INT.PRVT.CD
12  DT.AMT.DLXF.CD
13  DT.INT.OFFT.CD
14  DT.AMT.PRVT.CD
15  DT.INT.DPNG.CD
16  DT.INT.MLAT.CD
17  DT.INT.PROP.CD
18  DT.AMT.PROP.CD
19  DT.AMT.MLAT.CD
20  DT.DIS.BLAT.CD
21  DT.DIS.PRVT.CD
22  DT.DIS.OFFT.CD
23  DT.INT.PBND.CD
24  DT.AMT.DPNG.CD

Total Number of Distinct Countries in the Dataset

In [29]:
SELECT
	COUNT(DISTINCT country_name) as "total_distinct_countries"
FROM
	international_debt

   total_distinct_countries
0                       124

In [30]:
-- highest_debt_country 
-- Write your query here...

Empty DataFrame
Columns: []
Index: []

Country with the highest amount of Debt

In [31]:
SELECT
	country_name,
	SUM(debt) as "total_debt"
FROM
	international_debt
GROUP BY 
	country_name
ORDER BY 
	SUM(debt) DESC
LIMIT 1

  country_name    total_debt
0        China  2.857935e+11

In [32]:
-- lowest_principal_repayment 
-- Write your query here...

Empty DataFrame
Columns: []
Index: []

Country with the lowest amount of repayments

In [33]:
SELECT
	country_name,
	indicator_name,
	SUM(debt) as "lowest_repayment"
FROM
	international_debt
WHERE 
	indicator_code = 'DT.AMT.DLXF.CD'
GROUP BY 
	country_name, indicator_name
ORDER BY 
	SUM(debt) ASC
LIMIT 1;

  country_name  ... lowest_repayment
0  Timor-Leste  ...           825000

[1 rows x 3 columns]